* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style-type: none;
}
body {
  width: 100%;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.try-agein-button {
  color: white;
  background-color: black;
  padding: 10px 20px;
  cursor: grab;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-top: 2rem;
  transition: all 0.3s ease;
}
.try-agein-button:focus {
  outline: none;
  border: none;
}

.try-agein-button:active {
  cursor: grabbing;
  outline: none;
  border: none;
  transform: translateX(-2px) translateY(2px);
}
